@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  html,
  body,
  #root {
    @apply w-full h-full overflow-hidden m-0 p-0;
  }

  body {
    @apply bg-background text-foreground;
    font-family: "JetBrains Mono", "Fira Code", monospace;
    font-size: 16px;
  }
}
